{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "parser-options": {
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  },
  "env": {
    "browser": true
  },
  "globals": {
    "__DEV__": false,
    "__PROD__": false,
    "__DEBUG__": false,
    "__COVERAGE__": false,
    "__BASENAME__": false
  },
  "plugins": [
    "import"
  ],
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "./build/webpack.config"
      }
    }
  },
  "rules": {
    "import/no-unresolved": 0
  }
}
